:root {
  --light-pink: #fdf3e9;
  --light-yellow: #fff67b;
  --orange: #ef694a;
  --dark-red: #945555;
  --dark-yellow: #f4a242;
  --darkest-red: "#492821";
}

/* TYPOGRAPHY */

span {
  color: var(--orange);
}
body {
  background-color: var(--light-pink);
  margin: 0;
}

.bg {
  background-image: url("img/heroDT.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  max-width: 1550px;
  min-height: 650px;
  position: relative;
}

.inlay {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1a1a37;
  opacity: 0.8;
  z-index: 3;
}

.col {
  position: absolute;
  color: white;
  z-index: 4;
}

/* BUTTONS + SOCIAL LINKS*/

a {
  transition: transform 0.2s;
}

a:hover {
  transform: scale(1.2);
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.zoom-out {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 20px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  text-align: center;
  transition: all 0.2s ease 0s;
  border: none;
}

.zoom-out:hover {
  transform: scale(1.1);
}

.zoom-out--orange {
  background: var(--orange);
}

/* CONTACT FORM */
section {
  width: 100%;
  height: 1000px;
}

.contact {
  background-color: var(--orange);
}

input,
label {
  align-self: center;
}

input[type="text"] {
  color: black;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}

input:focus,
textarea:focus {
  border: 2px solid turquoise;
  outline: none;
}

textarea {
  width: 100%;
  height: 400px;
  padding: 0 1em;
  border-radius: 10px;
}

.submit-button {
  height: 75px;
  margin-top: 2em;
}

.form-logo {
  height: 200px;
  align-self: flex-start;
  justify-self: flex-start;
}

.hamburger-icon {
  font-size: 2.5rem;
}

.hamburger-menu {
  padding: 20px;
  width: 100%;
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu a {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.hamburger-menu a:hover {
  color: var(--orange);
}

.display-none {
  display: none;
}

@media (min-width: 800px) {
  .hamburger-icon {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 800px) {
  .desktop-menu > * {
    display: none;
  }
}

/* ANIMATIONS */

.loaded header::after {
  animation: scaleIn 1.3s ease-in 0.2s forwards;
}

header {
  position: relative;
}
header::after {
  color: var(--orange);
  content: "fadsfasdf";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
  z-index: 99999;
  transform: scaleX(0);
}

header > * {
  opacity: 0;
}

.loaded header > * {
  animation: fadeIn 1s ease-in 0.7s forwards;
}
main .copy-container *,
main nav *,
main button {
  transform: translatex(700%);
}

main .copy-container *,
main nav *,
main button {
  animation: slideIn 0.5s cubic-bezier(0.5, 0.5, 0.4, 0.94) 2s forwards;
}

.loaded main {
  animation: fadeIn ease-in 0.9s forwards;
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}
